* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: NYT;
    src: url('fonts/Chomsky.otf');
}

body {
    margin: 0% 8% 0% 8%;
}



/* ---------- */
/*   header   */
/* ---------- */

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.logo {
    font-family: NYT;
    font-size: 5.7em;
    margin: 0;
    text-align: center;
    width: 100%;
}

.quote {
    font-size: .7em;
    background-color: white;
    border: .2px solid black;
    padding: 1.5em;
    font-family: 'Inria Sans', sans-serif;
    margin: 5vmin 0vmin;
    text-align: center;
}

.date {
    font-size: 1em;
    text-align: right;
    align-self: center;
    font-family: 'Inria Sans', sans-serif;
}



/* ---------- */
/*   navbar   */
/* ---------- */

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inria Sans', sans-serif;
    font-size: .8em;
    border-top: 1.5px solid rgb(168, 168, 168);
    border-bottom: 1.5px solid rgb(168, 168, 168);
    padding: 2px 0px;
}

.issue {
    text-align: left;
    width: 13%;
    padding: 4.5px;
}

.price {
    text-align: right;
    width: 13%;
    padding: 4.5px;
}

.navbar {
    width: 75%;
    text-align: center;
}

.nav-links li {
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    padding-left: 6.5%;
    padding-left: 6.5%;
}

a {
    color: black;
    text-decoration: none;
    padding: 4.5px;
}

.active:hover {
    background-color: rgba(233, 233, 233, 0.567);
    padding: 4.5px;
    border-radius: 5px;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    flex-direction: column;
    justify-content: space-around;
}

.bar { 
    width: 20px;
    height: 3px;
    margin: 2px 0;
    background-color: #000;
}

.nav-menu {
    display: none;
}



/* ---------- */
/* headline 1 */
/* ---------- */

.headline {
    justify-content: center;
    display: relative;
    text-align: center;
    font-family: 'Koulen', sans-serif;

}

.headline h1 {
    font-size: 4.4em;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.headline p {
    font-size: 2.3em;
    padding: 10px 5px 30px 5px;
    margin: 0;
}



/* ---------- */
/* article 1  */
/* ---------- */

.article {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
}

.article-one {
    width: 50%;
    height: auto;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding: 15px 7px 20px 7px;
}

.paragraph-1 {
    column-count: 3;
    column-gap: 1em;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    font-family: 'Georgia', serif;
    font-size: .8em;
    text-indent: 1.25em;
    text-align: justify;
    color: #383838;
}

.text:first-of-type::first-letter {
    font-size: 1.5em;
}

.picture {
    width: 48%;
    height: auto;
} 

.ariana-ntltc {
    width: 100%;
    height: auto;
}

.description {
    font-family: 'Lora', serif;
    text-align: left;
    font-size: .9em;
    padding-bottom: 5px;
    color: #383838;
}



  /* ---------- */
/* article 2,3,4 */
  /* ---------- */

.article234 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

/* = two = */

.article-two {
    width: 59%;
    padding-right: 10px;
    border-right: 2px solid rgb(228, 227, 227);
}

.paragraph-2 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.arianaREM {
    width: 100%;
    height: auto;
    padding-top: 4px;
}

/* = three = */

.article-three {
    border-right: 2px solid rgb(228, 227, 227);
    width: 63%;
    padding-left: 10px;
    padding-right: 10px;
}

.ariana-positions {
    width: 100%;
    height: auto;
}

.under-title {
    width: 50%;
    margin: auto;
}

.paragraph-3 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.cloudpink {
    width: 100%;
    height: auto;
    padding-top: 4px;
}

/* == four = */

.article-four {
    width: 187%;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid rgb(228, 227, 227);
}

.paragraph-4 {
    width: 100%;
    column-count: 3;
    column-gap: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.arianaYT {
    padding-top: 4px;
    width: 100%;
    height: auto;
}

/* - five - */

.article-five {
    width: 59%;
    padding-left: 10px;
}

.paragraph-5 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.article67 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* - six - */

.article-six {
    width: 35%;
    padding-right: 10px;
    border-right: 2px solid rgb(228, 227, 227);
}

.paragraph-6 {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* - seven - */

.article-seven {
    width: 65%;
    padding-left: 10px;
}

.paragraph-7 {
    width: 100%;
    column-count: 2;
    column-gap: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}



/* ---------- */
/* end articles */
/* ---------- */

.articles {
    display: flex;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.set {
    width: 20%;
    text-align: left;
    padding: 0px 10px;
    border-right: 2px solid rgb(228, 227, 227);
}
.last-set {
    width: 20%;
    text-align: left;
    padding: 0px 10px; 
}

.title-set {
    font-size: .8em;
    color: #383838;
    font-family: 'Playfair Display', serif;
}

.sub-title {
    font-family: 'Playfair Display', serif;
    font-size: .95em;
    color: #000000;
}

.subs {
    padding: 7px 0px;
}

.sub-text {
    font-family: 'Georgia', serif;
    font-size: .75em;
    color: #383838;
}

.sub-link {
    text-decoration: none;
    padding: 0;
}

.arianaWimbledon, .arianaPink, .modVanillaBlush {
    padding: 7px 0px;
    width: 100%;
}



/* ---------- */
/* responsive */
/* ---------- */


/* NAV BAR AND TITLE ONLY */

@media screen and (max-width: 1230px) {
    body {
        margin: 0% 6.7% 0% 6.7%;
    }
    .quote {
        font-size: .6em;
        padding: 1em;
    }
    .logo {
        font-size: 5em;
    }
    .headline h1 {
        font-size: 3.9em
    }
    .headline p {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        font-size: 3.6em;
    }
    .headline h1 {
        font-size: 3em
    }
    .headline p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 785px) {
    .quote {
        font-size: .5em;
        padding: .9em;
        width: 90%;
    }
    .logo {
        font-size: 3em;
    }
    .date {
        font-size: .75em;
    }
    .options {
        font-size: .45em;
    }
    .navbar {
        width: 75%;
    }
    .headline h1 {
        font-size: 3em
    }
    .headline p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 680px) {
    .logo {
        font-size: 2.15em;
    }
}

@media screen and (max-width: 655px) {
    .logo {
        font-size: 2.15em;
    }
}

@media screen and (max-width: 580px) {
    .quote {
        display: none;
    }
    .date {
        display: none;
    }
    .logo {
        font-size: 3em;
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    .hamburger {
        display: flex;
    }
    .nav-link{
        width: auto;
        color: #000;
        text-decoration: none;
        padding: 4.5px;
    }
    .nav-menu.active {
        display: flex;
        width: 100%;
        padding: 1% 0%;
        justify-content: space-evenly;
        padding: 0% 2%;
    }
    .nav-link:hover {
        background-color: rgba(233, 233, 233, 0.567);
        padding: 4.5px;
        border-radius: 5px;
    }
    .issue, .price {
        padding: 4.5px;
        width: 50%;
    }
    .issue.active, .price.active, .nav-links, .navbar {
        display: none;
    }
    .active:hover {
        background-color: #fff;
}
}

@media screen and (max-width: 437px) {
    .logo {
        font-size: 2.8em;
    }
    .hamburger {
        top: 15px;
        right: 15px;
    }
    .bar {
        width: 20px;
        height: 3px;
        margin: 2px 0;
    }
    .nav-menu {
        padding: 3% 0% 2%;
    }
    
}

@media screen and (max-width: 376px) {
    .logo {
        font-size: 2.2em;
    }
    
    .hamburger {
        top: 11px;
        right: 11px;
    }
    
}




/* THE  REST */

@media screen and (max-width: 1230px) {
    .text {
        font-size: .7em;
    }
    .description {
        font-size: .8em;
    }
    .title-set {
        font-size: .7em;
    }
    .sub-title {
        font-size: .8em;
    }
    .sub-text {
        font-size: .7em;
    }
}

@media screen and (max-width: 870px) {
    .article {
        display: block;
    }
    .article-one, .picture, .article-two, .article-three, .article-four, .article-five{
        width: 100%;
        border-right: none;
    }
    .paragraph-1 {
        columns: 4;
    }
    .article234 {
        display: block;
    }
    .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5 {
        columns: 4;
    }
    .article-six {
        width: 25%;
    }
    .article-seven {
        width: 75%;
    }
    .paragraph-7 {
        columns: 3;
    }
    .title {
        font-size: 1.65em;
    }
    .text {
        font-size: .75em;
    }
}

@media screen and (max-width: 655px) {
    .article67 {
        display: block;
    }
    .article-six, .article-seven {
        width: 100%;
        border-right: none;
    }
    .paragraph-1, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7 {
        columns: 3;
    }
    .articles {
        display: block;
        width: 100%;
        padding: none;
    }
    .set, .last-set {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-right: none;
        padding: 5px 10px;
        justify-content: left;
        border-bottom: 2px solid rgb(228, 227, 227);
    }
    .title-set {
        width: 100%;
    }
    .sub-link {
        margin: 0px 5px;
        width: 30%;
    }
    .arianaWimbledon, .arianaPink, .modVanillaBlush {
        width: 30%;
        margin-right: 5px;
    }
}

@media screen and (max-width: 520px) {
    .paragraph-1, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7 {
        columns: 2;
    }
}

@media screen and (max-width: 500px) {
    .arianaWimbledon, .arianaPink, .modVanillaBlush {
        width: 100%;
    }
    .set, .last-set {
        display: block;
    }
    .sub-link, .subs {
        padding: 0px;
    }
    .set, .last-set{
        padding: 10px 0px;
    }
}

@media screen and (max-width: 380px) {
    .paragraph-1, .paragraph-2, .paragraph-3, .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7 {
        columns: 1;
    }
    .pic {
        width: 100%;
    }
}


